$darkyellow: #FFBC42;
$gray: #BDBDBD;

.artist {
	display: inline-block;
	margin: 10px;
	margin-bottom: 0;
}

.artist-name {
	text-transform: uppercase;
}

.artist-name, .artist-album {
	font-size: 12px;
	text-align: left;
}

.artist-photo {
	background-position: top;
	background-size: cover;
	height: 150px;
	position: relative;
	width: 150px;

	&:hover {
		opacity: 0.7;

		.play-button {
			display: block;
		}
	}
}

.block {
	border-top: 1px solid $gray;
}

.container-fluid {
	background-image: url(../images/front.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.front-page-content {
	margin-top: 300px;
}

.more-info-td {
	padding: 0;
}

.more-info-wrapper {
	border-radius: 3px;
	border-style: solid;
	display: inline-block;
	height: auto;
	margin: 10px 0;
	padding: 3px;
	text-align: center;
	width: 80px;

	&:hover {
		opacity: 0.7;
	}
}

.play-button {
	bottom: 0;
	display: none;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

.search-container {
	align-items: flex-start;
	display: flex;
	margin: 50px 0;
}

.tracks-inner {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

@media only screen and (max-width: 1200px) {
	.container-fluid {
		height: 600px;
	}

	.front-page-content {
		margin-top: 200px;
	}
}

@media only screen and (max-width: 1040px) {
	.artist-photo {
		height: 120px;
		width: 120px;
	}

	.front-page-content {
		margin-top: 150px;
	}
}

@media only screen and (max-width: 800px) {
	.account-wrapper {
		border-color: $darkyellow;

		&:hover {
			opacity: 0.8;
		}
	}

	.content {
		margin-left: 10px;
		margin-right: 10px;
	}

	.front-page-content {
		margin-top: 120px;
	}
}

@media only screen and (max-width: 500px) {
	.container-fluid {
		height: 370px;
	}

	.front-page-content {
		margin-top: 0;
	}

	.more-info-wrapper {
		width: 50px;
	}
}

@media only screen and (max-width: 400px) {
	.artist {
		margin: 0;
	}

	.front-page-content {
		margin-top: 60px;
	}

	.tour-name {
		display: none;
	}
}