$black: #000;
$darkyellow: #FFBC42;

.aui {
	a {
		color: $black;

		&:hover {
			text-decoration: none;
		}
	}

	body {
		padding: 0;
	}

	form {
		align-items: flex-start;
		display: flex;
		margin: 50px 0;
	}

	input[type="text"] {
		font-size: 14px;
		height: 20px;
		margin: 0;
		opacity: 0.7;
		padding: 8px 6px;
		width: 387px;

		&:hover {
			opacity: 0.8;
		}
	}

	h1 {
		line-height: 20px;
	}

	h2 {
		font-size: 60px;
		line-height: 60px;
		margin: 350px 0 20px 0;
	}

	P {
		font-size: 12px;
		margin: 0 0 0 10px;
		text-align: left;
	}

	.btn {
		background: $darkyellow;
		font-size: 14px;
		margin: 0;
		opacity: 0.9;
		padding: 8px;
		width: 100px;

		&:hover {
			background: $darkyellow;
			opacity: 1;
		}
	}

	.fieldset {
		width: 400px;
	}
}

.accountdiv {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}

.accountlink {
	position: relative;
}

.accountwrapper {
	border-radius: 3px;
	border-style: solid;
	display: inline-block;
	height: auto;
	padding: 3px;
	text-align: center;
	width: 100px;

	&:hover {
		opacity: 0.7;
	}
}

.adelephoto {
	background-image: url(../images/custom/adele.jpg);
}

.alicephoebephoto {
	background-image: url(../images/custom/alicephoebe.jpg);
}

.chainsmokersphoto {
	background-image: url(../images/custom/chainsmokers.jpg);
}

.chrisphoto {
	background-image: url(../images/custom/chris.jpg);
}

.container-fluid {
	background-image: url(../images/custom/front.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.deadmausphoto {
	background-image: url(../images/custom/deadmau5.jpg);
}

.frontpagecontent {
	margin-top: 300px;
}

.josephoto {
	background-image: url(../images/custom/jose.jpg);
}

.kodakblackphoto {
	background-image: url(../images/custom/tunelvision.jpg);
}

.leraphoto {
	background-image: url(../images/custom/lera.jpg);
}

.logo {
	width: 20px;
}

.omamphoto {
	background-image: url(../images/custom/omam.jpg);
}

.playbutton {
	bottom: 0;
	display: none;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

.site-name {
	font-size: 16px;
}

.site-title {
	position: absolute;
}

.sturgillphoto {
	background-image: url(../images/custom/sturgill.jpg);
}

.tracks {
	text-align: center;
}

.tracks div {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

.tracks div div {
	display: inline-block;
	margin: 10px;
	margin-bottom: 0;
}

.tracks div div div {
	background-position: top;
	background-size: cover;
	height: 150px;
	position: relative;
	width: 150px;

	&:hover {
		opacity: 0.7;

		.playbutton {
			display: block;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.aui {
		.fieldset {
			width: 300px;
		}

		input[type="text"] {
			width: 287px;
		}

		h2 {
			font-size: 50px;
			margin-top: 250px;
		}
	}

	.frontpagecontent {
		margin-top: 200px;
	}

	.container-fluid {
		height: 600px;
	}
}

@media only screen and (max-width: 1040px) {
	.aui h2 {
		width: 700px;
	}

	.frontpagecontent {
		margin-top: 150px;
	}

	.tracks div div div  {
		height: 120px;
		width: 120px;
	}
}

@media only screen and (max-width: 800px) {
	.accountwrapper {
		border-color: $darkyellow;

		&:hover {
			opacity: 0.8;
		}
	}

	.aui {
		a {
			color: $darkyellow;
		}

		h2 {
			font-size: 45px;
			width: 500px;
		}
	}

	.content {
		margin-left: 10px;
		margin-right: 10px;
	}

	.frontpagecontent {
		margin-top: 120px;
	}
}

@media only screen and (max-width: 500px) {
	.aui {
		h2 {
			font-size: 40px;
			margin-top: 100px;
			width: 360px;
		}
	}

	.container-fluid {
		height: 370px;
	}

	.frontpagecontent {
		margin-top: 0;
	}
}

@media only screen and (max-width: 400px) {
	.aui {
		h2 {
			font-size: 30px;
			line-height: 40px;
			width: 300px;
		}

		input {
			width: 207px;
		}

		.fieldset {
			width: 220px;
		}
	}

	.frontpagecontent {
		margin-top: 60px;
	}

	.tracks div div {
		margin: 0;
	}
}