$black: #000000;
$darkyellow: #FFBC42;

.aui {
	a {
		color: $black;

		&:hover {
			text-decoration: none;
		}
	}

	body {
		padding: 0;
	}

	form {
		align-items: flex-start;
		display: flex;
		margin: 50px 0;
	}

	img {
		width: 20px;
	}

	input[type="text"] {
		font-size: 14px;
		height: 20px;
		margin: 0;
		opacity: 0.7;
		padding: 8px 6px;
		width: 387px;

		&:hover {
	 		opacity: 0.8;
		}
	}

	h1 {
		line-height: 20px;
	}

	h3 {
		line-height: 60px;
		font-size: 60px;
		margin: 350px 0 20px 0;
	}

	.btn {
		background: $darkyellow;
		font-size: 14px;
		margin: 0;
		opacity: 0.9;
		padding: 8px;
		width: 100px;

		&:hover {
			  background: $darkyellow;
			  opacity: 1;
		}
	}

	.fieldset {
		width: 400px;
	}
}

.accountdiv {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}

.accountlink {
	position: relative;
}

.accountwrapper {
	display: inline-block;
	border-radius: 3px;
	border-style: solid;
	height: auto;
	padding: 3px;
	text-align: center;
	width: 100px;

	&:hover {
		 opacity: 0.7;
	}
}

.container-fluid {
	background-image: url("../images/custom/front.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.site-name {
	font-size: 16px;
}

.site-title {
	position: absolute;
}

@media only screen and (max-width: 1200px) {
	.aui{
		.fieldset {
			width: 300px;
		}

		input[type="text"] {
			width: 287px;
		}

		h3 {
			font-size: 50px;
			margin-top: 250px;
		}
	}

	.container-fluid {
		height: 600px;
	}
}

@media only screen and (max-width: 1040px) {
	.aui h3 {
		width: 700px;
	}
}

@media only screen and (max-width: 800px) {
	.accountwrapper {
		border-color: $darkyellow;

		&:hover {
	 		opacity: 0.8;
		}
	}

	.aui {

		a {
			color: $darkyellow;
		}

		h3 {
			font-size: 45px;
			width: 500px;
		}
	}

	.content {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.aui {

		h3 {
			font-size: 40px;
			margin-top: 100px;
			width: 360px;
		}
	}

	.container-fluid {
		height: 350px;
	}
}

@media only screen and (max-width: 400px) {
	.aui {
		h3 {
			font-size: 30px;
			line-height: 40px;
			width: 300px;
		}

		.fieldset {
			width: 220px;
		}

		input {
			width: 207px;
		}
	}
}